git+https://github.com/pyrogram/pyrogram
TgCrypto
git+https://github.com/pytgcalls/pytgcalls
python-dotenv
youtube_dl
youtube_search_python
OpenCC
Pillow>=4.2.0
requests
youtube_search
aiohttp
aiofiles
wget
python-arq
nekos.py
bs4
motor
envparse 
html2text
telethon=1.16.4
beautifulsoup4
spamwatch
redis
search_engine_parser
bing_image_downloader
